<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <div class="container">
    <% include ../partials/nav.ejs %>
    <% include ../partials/navPoint.ejs %>

    <h2>计算积分</h2>

    <h3> <%= results.message %> </h3>
  </div>
</body>

</html>