<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <div class="container">
    <% include ../partials/nav.ejs %>
    <% include ../partials/navreg.ejs %>

    <h2>下载文件</h2>
    <p>
      下载选手及分组数据。
      文件是Excel格式(.xlsx)。

      <a href="/reg/download/MaYueHan2019.xlsx"" download="MaYueHan2019.xlsx">下载文件</a>

  </div>
</body>
</html>