<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <div class="container">
      <% include ../partials/nav.ejs %>

      <h2>第三届北美清华校友大会马约翰杯</h2>

      <p>
      <table>
        <tr>
          <th>版本</th>
          <th>说明</th>
        </tr>
        <tr>
          <td>1.2</td>
          <td>增加用户控制</td>
        </tr>
        <tr>
          <td>1.1</td>
          <td>支持分会线上积分</td>
        </tr>
        <tr>
          <td>1.0</td>
          <td>初始版本</td>
        </tr>
      </table>

      <h4>1. 个人信息来自大会注册文件和单项注册文件（如跑步）。</h4>
      本系统只保存与比赛积分有关信息，如姓名，性别，院系，分会等。<br>
      如果需要更改个人信息，包括增加/修改/删除，必须提供新的注册文件。<br>

      <h4>2. 组队来自单项注册文件（如跑步和羽毛球），其它需要手工输入</h4>
      这里报名单人或多人项目都用“组队”这一术语。<br>
      本系统提供了页面来支持增删改查等操作。<br>

      <h4>3. 比赛排名决定了积分</h4>
      排名可以在组队列表修改，也可以在单独的组队页面修改。<br>
      比赛排名只支持1-8名，前八名以外的积分都是1积分。<br>

      <h4>4. 需要手工删除不计入积分的组队</h4>
      按照积分规则，单项组队少于4队，此单项应该取消。但本积分系统没有强制执行。如果不想计入积分，需要手工删除所有此类组队。<br>
      如果组队不全，比如接力赛人数不够但又跑完了的，保留组队，即可计入最后积分。如果不想计入积分，比如男双只有一人，则需要手工删除此类组队。<br>
      所有报名而最后未参加比赛的组队，都需要手工删除。<br>

      <h4>5. 计算积分</h4>
      点击“计算积分”，系统会清零以前的计算结果，重新从头计算积分。顺序如下：
      <ol>
        <li>清零所有个人，组队，院系，分会的积分。</li>
        <li>计算组队积分 - 详情请参见积分详细规则。这里只以8队以上为例。</li>
          <ul>
            <li>排名1-8的计算基本积分，乘以积分系数，得到最终积分。</li>
            <li>排名8名以后的，积分都为1.</li>
            <li>组队积分所列的是每个队员所获的积分，而不是总和。</li>
            <li>组队前八积分的计算，可以从组队列表的“说明”一栏中查看详情。</li>
          </ul>
        <li>组队积分分配到每个队员的积分。</li>
        <li>个人积分分配到院系和分会</li>
          <ul>
            <li>如果个人信息有院系的存在，个人积分加入所属院系。</li>
            <li>个人积分加入所属分会。</li>
          </ul>
        <li>分会的线上积分加入相应分会积分。</li>
      </ol>
      <p>
      <p>
  </div>
</body>
</html>
